@charset "UTF-8";
@font-face {
    font-family: 'Nimbus';
    src: url('Fontes/NimbusRomNo9L-Med.otf') format('opentype');
    font-size: normal;
    font-style: normal;
}

*{
    box-sizing: border-box
}

.divisao{
    display: inline-flex;
    border: 1px solid #000;
}

.conteudo{

    padding: 0 50px;

}
