@charset "UTF-8";
@font-face {
    font-family: 'Nimbus';
    src: url('../Fontes/NimbusRomNo9L-Med.otf') format('opentype');
    font-size: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Nimbus menu';
    src: url('../Fontes/NimbusRomNo9L-Reg.otf') format('opentype');
    font-size: normal;
    font-style: normal;
}

*{
    box-sizing: border-box
}

.menu{
    min-width: 90px;
    float: left;
    font-family: "Nimbus menu";
}

.divisao{
    display: flex;
    border: 1px solid #000;
}

.conteudo{
    
    max-width: 750px;
    padding: 0 50px;

}

a:visited{
    color: blue;
}