@charset "UTF-8";
@font-face {
    font-family: 'Nimbus';
    src: url('../Fontes/NimbusRomNo9L-Med.otf') format('opentype');
    font-size: normal;
    font-style: normal;
}

*{
    box-sizing: border-box
}

body{
    max-width: 1000px;
    font-family: 'Nimbus';
    font-weight: normal;
    text-align: justify;
}