@charset "UTF-8";
@font-face {
    font-family: 'Nimbus';
    src: url('../Fontes/NimbusRomNo9L-Reg.otf') format('opentype');
    font-size: normal;
    font-style: normal;
}

*{
    box-sizing: border-box
}