@charset "UTF-8";
@font-face {
    font-family: 'Nimbus';
    src: url('../Fontes/NimbusRomNo9L-Med.otf') format('opentype');
    font-size: normal;
    font-style: normal;
}

*{
    box-sizing: border-box
}

body{
    background-color: white;
    font-family: 'Nimbus';
    font-weight: normal;
    color: #000000;
    font-style: normal;
    font-size: 12pt;
}

.pontos{

    margin-right: 50px;
    
}